body {
    margin: 50px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

#today-challenge {
    font-size: 40px;
    color: rgb(79, 133, 228);
}

a {
    text-decoration: none;
    color: rgb(79, 133, 228);
}

a:hover {
    color: rgb(202, 25, 15);
}